.card {
  margin: 3% auto;
  justify-content: center;
  text-align: center;
  padding: 0px
}

.card-img-top{
  max-height: 18rem
}

.foot{ 
    margin: 3% auto;
    text-align: center;
    font-size: 30px;
}

